body {
  font-family: 'Roboto';
}
.bold-text {
  font-weight: bolder;
}
.card-background {
  background-color: #345b63;
  color: rgb(241, 237, 237);
}
.container {
  max-width: 40%;
}

.date-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.date-button {
  width: 50%;
  margin: 0 auto;
}

.form-container {
  width: 50%;
  background-color: #d4ecdd;
  border-radius: 20px;
}

.header-bar {
  border-radius: 10px;
  padding-left: 10px;
}
.list-background {
  background-color: rgb(179, 178, 178);
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #f2f8fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.main {
  background-color: rgb(212, 211, 211);
  height: 100%;
  min-height: 100vh;
}
.page-head-container {
  background-color: #d4ecdd;

  padding: 15px;
  border-radius: 10px;
  border: 2px solid #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.side-bar {
  background-color: #345b63;
  min-width: 200px;
}
.spectrum-background {
  background-color: #f2f8fa;
  background-blend-mode: screen;
}

.table-tile {
  padding: 15px;
  margin: 1px;
  border-radius: 10px;
  width: 700px;
}
.table-tile-2 {
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  width: 700px;
}
.reservation-tile {
  background-color: #2b2d42;
  padding: 15px;
  border-radius: 10px;
  color: white;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  input {
    width: 100%;
  }
  button {
    width: 50%;
  }

  .btn-dark {
    margin-top: 5px;
    margin-bottom: 1px;
  }
  .page-head-container {
    align-items: center;
  }
  .container {
    max-width: 100%;
  }

  .form-container {
    width: 100%;
  }

  input.form-control {
    max-width: 100%;
  }
  .form-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form-card,
  .table-tile,
  .page-head-container {
    width: 100%;
  }
  .table-tile-2 {
    width: 100%;
  }
  h1,
  h2,
  h3 {
    text-align: center;
    font-size: 1.75rem;
  }

  .page-head-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .date-button {
    width: 50%;
    margin: 0 auto;
  }
  .side-bar,
  .row {
    height: fit-content;
  }
  .res-button-container,
  .table-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .reservation-tile,
  .table-tile {
    text-align: center;
  }
  .tables-container {
    justify-content: center;
  }
  p {
    display: block;
    min-width: none;
    width: 50%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 474px) {
  .container {
    max-width: 50%;
  }

  .page-head-container,
  .res-button-container,
  .table-tile {
    margin: 5px 0px 5px 0px;
    text-align: center;
  }
  p {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}
